body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* オフホワイトの背景色 */
    color: #333; /* 本文のテキストカラーを指定 */

}

header {
    position: fixed;
    top: 0;
    left: 1vw; /* 左端からの空白を画面解像度に応じて変更 */
    background-color: transparent; /* 背景を透明に変更 */
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 影を削除 */
    z-index: 1000; /* ヘッダーを他の要素よりも前面に表示 */
    color: #666; /* グレーのテキストカラーに変更 */
    font-size: 0.75em; /* フォントサイズを半分に縮小 */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

}

@media screen and (max-width: 600px) {
    header {
        font-size: 1em; /* モバイルビューにおいてフォントサイズを拡大 */
    }
}

#site-title {
  font-family: 'Open Sans Light', sans-serif; /* Open Sans Lightを使用 */
  font-weight: 300;
  color: #666;
}

main {
    margin-top: 10vh; /* ヘッダーの高さを考慮 */
    text-align: center;
}

/* リンクのスタイル変更 */
a {
    color: inherit; /* 親要素の文字色を継承 */
    text-decoration: none; /* 下線をなくす */
}

/* 左の空白を追加 */
#about {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-left: 2vw; /* 適宜調整 */
    text-align: left;
}

iframe {
    max-width: 100%; /* 親要素の幅に合わせる */
    height: auto; /* アスペクト比を保つ */
    display: block; /* インライン要素としてではなく、ブロック要素として扱う */
    margin: left auto; /* 水平方向に中央寄せ */

}

img {
    max-width: 100%;
    max-height: 100vh; /* 画像の高さをビューポートの高さに合わせる */
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px; /* 画像周りの余白 */
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    left: 1vw; /* 左端からの空白を画面解像度に応じて変更 */
    background-color: transparent; /* 背景を透明に変更 */
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* 影を削除 */
    font-size: 16px; /* フォントサイズを上げる */
    text-decoration: underline; /* 下線を追加 */


}

footer a {
    text-decoration: none;
    color: #333;
}
